/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #60a9ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
}

.panel {
    background-color: white;
    margin: auto;
    border-radius: 10px;
    padding: 0px 25px;
    width: 80%;
    max-height: 50%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    border-bottom: 5px solid #e1f1ff;
}

.pricing-plan:last-child {
    border-bottom: none;
}

.pricing-img {
    margin-bottom: 35px;
    max-width: 100%;
}

.pricing-header {
    color : #888;
    font-weight: 600;
    letter-spacing: 2px;
}

.pricing-features {
    margin: 25px 0 50px;
    color: black;
}

.pricing-features-item {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 1.5em;
    padding: 15px 0;
    border-top: 1.5px solid #e1f1ff;
}

.pricing-price {
    color : #016ff9;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.pricing-features-item:last-child {
    border-bottom: 1.5px solid #e1f1ff;
}

.pricing-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348efe;
    padding: 15px 25px;
    text-decoration: none;
    display: inline-block;
    margin: 25px 0;
    transition: background-color 500ms ease-in-out;
    font-weight: 700;
}

.pricing-button:hover, .pricing-button:focus {
    background-color: yellow;

}

.is-featured {
    background-color: black;
    color : white;
}

.is-featured:hover {
    background-color: blue;
    color : white;
}

@media (min-width : 750px) {
    .panel {
        flex-direction: row;
         width: 90%;
    }
    .pricing-plan {
    border-bottom: none;
    padding: 25px 50px;
}
     .pricing-plan {
         border-right: 2px dotted blue;
     }

     .pricing-plan:last-child {
         border-right: none;
     }
}

