h1 {
    text-align: center;
    width : 50%
} 

p {
    text-align: justify;
}

section {
    font-weight: 700;
}

h2 {
    text-decoration: underline #f56 wavy;
}

a {
    text-decoration: overline red double;
    color: crimson;
}

div {
    line-height: 2;
    font-family: 'Arial Black';
}

h3 {
    letter-spacing: 30px;
    font-size: 30px;
}